<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ProjectDBConnect" connectionString="Data
Source=153.109.124.35;Initial Catalog=GabRi_ValaisBooking;Integrated
Security=False;User
Id=6231db;Password=Pwd46231.;MultipleActiveResultSets=True"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>