<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DB_ValaisBooking" connectionString="Data Source=(localDB)\MSSQLLocalDB;AttachDbFilename=C:\temp\database.mdf;Integrated Security=True;"
    providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>